body{
  background-color: #D2D3FF;
}


header {
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 14px;

}

#main-header {
  background-color: #6495AA;
  width: 100%;
  height: 210px;
}

#bird-icon {
  margin: 20px 0px 0px 40px;

}

.access {
  float:right;
}

ul.access li {
  display:inline;
  list-style:none;
  margin-left: 10px;
  margin-right: 10px;

}

ul.access li a {
  text-decoration:none;
  color:white;
}

ul.access li a:hover{
  background-color: white;
  color: #87CEFA;
}

.btn {
  /*creating the button-like style below*/
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 5px;
}

.nav-btn {
  font-family: Arial;
  font-size: 18px;
  padding: 18px 40px;
  border-left: 0.5px solid #e1e8ed;
}

#main-header div h1 {
  text-align:center;
}

#nav{
    margin-left: 30px;
}

#nav li {
  display: inline;
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
}

#nav li a {
  text-decoration: none;
  background-color: white;

}

#nav li a img {
  margin:0px;
  padding: 0px;
}

#nav li a:hover {
    border-bottom: 5px solid blue;
}

.card-group {
  display:inline;
}

.card {
  background-color: white;
  display: inline-block;
  width: 275px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

.card * {
  width: inherit;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#signup-card {
  position: absolute;
  height: 358px;
  width: 300px;
}

#nav-footer li {
  display: inline;
  list-style: none;
}

#nav-footer li a{
  text-decoration: none;
  background-color: white;
}

.footer-btn {
  font-family: Arial;
  font-size: 12px;
  padding: 9px 40px;
  border-left: 0.5px solid #e1e8ed;
}
